input[type="text"]
  font-size: 14px
  padding: 4px 2px

.player__yellow
  background-color: yellow
.player__white
  background-color: white
.player__red
  background-color: red
.player__blue
  background-color: blue
.player__green
  background-color: green
.player__pink
  background-color: pink