<template>
  <div class="game">
    <span>{{ $t('playersHaveJoined', { numOfPlayers: players.length }) }}</span>
    <div>
      <template v-for="(player, i) in players">
        <span>{{ player.name }}</span><template v-if="i < players.length - 1">, </template>
      </template>
    </div>
    <button v-if="isGameOwner" :disabled="isRoomFull || !hasEnoughPlayers" @click="startGame">{{ $t("startGame") }}</button>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Player } from "@/models/player";
import WebsocketUtil from "@/utils/websocket";

@Component({})
export default class Game extends Vue {
  get hasEnoughPlayers(): boolean {
    return this.players.length >= 3;
  }
  get isRoomFull(): boolean {
    return this.players.length === 6;
  }
  get isGameOwner(): boolean {
    return this.$store.getters.isGameOwner;
  }
  get gameId(): number {
    return this.$store.getters.gameId;
  }
  get players(): Player[] {
    return this.$store.getters.players;
  }
  startGame() {
    WebsocketUtil.startGame(this.gameId);
  }
}
</script>

<style lang="stylus" scoped></style>
