<template>
  <div class="home">
    <header class="home__header">
      <h1>CoffeeBreak</h1>
      <div>
        <button @click="showCreate = !showCreate">
          {{ $t("createGame") }}
        </button>
      </div>
    </header>
    <main class="home__body">
      <button @click="loadGames" class="home__refresh-btn">
        {{ $t("refresh") }}
      </button>
      <div class="home__game-list">
        <div class="home__game-entry" v-for="game in games" :key="game.id">
          <div>
            <div>#{{ game.id }}</div>
            <div>{{ $t("players") }}: {{ game.numOfPlayers }}</div>
          </div>
          <div>
            <div>{{ game.status }}</div>
            <button @click="requestRoomJoin(game.id)">Join</button>
          </div>
        </div>
      </div>
    </main>

    <!-- Create game popup -->
    <popup v-model="showCreate">
      <div slot="header">
        {{ $t("createGame") }}
      </div>
      <player-form @submit="createRoom" />
    </popup>

    <!-- Join game popup -->
    <popup v-model="showJoin">
      <div slot="header">
        {{ $t("joinGame") }}
      </div>
      <player-form @submit="joinRoom" />
    </popup>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import StorageUtil from "@/utils/storage";
import PlayerForm from "@/components/PlayerForm";
import Popup from "@/components/Popup";
import { Game } from "@/models/game";
import APIUtil from "@/utils/api";
import WebsocketUtil from "@/utils/websocket";
import { Player } from "@/models/player";
import Session from "@/models/session";

@Component({
  components: {
    PlayerForm,
    Popup
  }
})
export default class Home extends Vue {
  private games: Game[] = [];
  private showCreate: boolean = false;
  private showJoin: boolean = false;
  private joiningGameId: number = 0;

  private created(): void {
    this.restoreSession();
    this.loadGames();
  }

  private restoreSession(): void {
    const { gameId, session } = StorageUtil.getGame();
    if (gameId !== null && session !== null) {
      this.$store.commit("joinGame", { gameId, session });
    }
  }

  private loadGames(): void {
    APIUtil.getGameList().then((response) => {
      const { games } = response.data;
      this.games = games;
    });
  }

  private requestRoomJoin(gameId: number): void {
    this.joiningGameId = gameId;
    this.showJoin = true;
  }

  private createRoom(formData: { name: string; color: number }): void {
    const { name, color: colour } = formData;
    WebsocketUtil.createRoom(name, colour, (response: any) => {
      const { gameId, player, error } = response;
      if (error) {
        // TODO: error handling
        console.error(error);
        return;
      }
      const { playerId, sessionId: sessionKey } = player;
      const session = new Session(playerId, sessionKey);
      const currencyPlayer = new Player(session.playerId, name, colour);
      this.$store.dispatch('joinGame', { gameId, session, players: [currencyPlayer] });
      this.$router.push('/game');
    });
  }

  private joinRoom(formData: { name: string; color: number }): void {
    const { joiningGameId: gameId } = this;
    const { name, color: colour } = formData;
    WebsocketUtil.joinRoom(gameId, name, colour, (response: any) => {
      const { player, players, error } = response;
      if (error) {
        // TODO: error handling
        console.error(error);
        return;
      }
      const { playerId, sessionId: sessionKey } = player;
      const session = new Session(playerId, sessionKey);
      const currencyPlayer = new Player(session.playerId, name, colour);
      this.$store.dispatch('joinGame', { gameId, session, players: [ ...players, currencyPlayer] });
      this.$router.push('/game');
    });
  }
}
</script>

<style lang="stylus" scoped>
.home
  &__header
    padding: 16px
    display: flex
    h1
      flex: 1
      margin-right: 16px
  &__body
    padding: 16px
  &__game-list
    display: flex
    flex-wrap: wrap
    justify-content: center
  &__game-entry
    flex-basis 200px
    border-radius: 8px
    display: flex
    padding: 8px
    background-color: rgba(255, 255, 255, 0.8)
    margin: 8px
    > *:first-child
      flex: 1
</style>
