<template>
  <div class="player-form">
    <div class="player-form__form">
      <div class="player-form__field">
        <label>Your name:</label>
        <input type="text" v-model="name" />
      </div>
      <div class="player-form__field">
        <label>Colour:</label>
        <div class="player-form__colors">
          <div
            v-for="(colorOption, i) in selectableColors"
            :key="i"
            class="player-form__color-option"
            :class="['player__' + colorOption.toString().toLowerCase(), { 'player-form__color-option--active': color === i }]"
            @click="color = i"
          ></div>
        </div>
      </div>
      <div class="player-form__buttons">
        <button @click="onSubmit" :disabled="!valid">
          {{ $t("confirm") }}
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Color } from "@/models/player";

@Component({})
export default class PlayerForm extends Vue {
  private name: string = "";
  private color: number = 0;

  get valid() {
    const { name, color } = this;
    return name && color !== null && color >= 0;
  }

  get selectableColors() {
    const options = [];

    for (const enumMember in Color) {
      const isValueProperty = parseInt(enumMember, 10) >= 0;
      if (isValueProperty) {
        options.push(Color[enumMember]);
      }
    }

    return options;
  }

  private onSubmit(): void {
    const { name, color } = this;
    this.$emit('submit', { name, color })
  }
}
</script>

<style lang="stylus" scoped>
.player-form
  &__field
    display: flex
    flex-direction: column
    margin-bottom: 16px

  &__colors
    display: flex

  &__color-option
    width: 80px
    height: 80px
    border: 2px solid transparent
    margin-right: 8px
    border-radius 8px

    &:hover, &--active
      border-color: rgba(0, 0, 0, .56)

    &:hover
      cursor: pointer

    &:last-child
      margin-right: 0
</style>
