<template>
  <transition
    name="custom-classes-transition"
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
  >
    <div v-if="show" class="popup">
      <div class="popup__content">
        <div class="popup__header">
          <slot name="header"></slot>
          <v-icon
            @click.native="$emit('bgClick', false)"
            class="popup__close"
            name="times"
          ></v-icon>
        </div>
        <div class="popup__body">
          <slot></slot>
        </div>
      </div>
    </div>
  </transition>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
@Component({
  props: {
    show: Boolean
  },
  model: {
    prop: "show",
    event: "bgClick"
  }
})
export default class Popup extends Vue {}
</script>
<style lang="stylus" scoped>
.popup
  width: 100%
  height: 100%
  position: fixed
  background-color: rgba(0, 0, 0, .8)
  top: 0
  left: 0

  &__content
    padding: 16px
    background-color: white
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    border-radius: 4px
  &__header
    font-size: 1.5em
    margin-bottom: 8px
    position: relative
  &__close
    padding: 4px
    position: absolute
    right: 0
    top: 0
    cursor: pointer
</style>
