<template>
  <div id="app" class="app">
    <transition
      name="custom-classes-transition"
      enter-active-class="animated fadeIn"
      leave-active-class="animated fadeOut"
      mode="out-in"
    >
      <router-view/>
    </transition>
    <div class="app__ws-unavailable" v-if="!wsConnected">
      <div class="app__ws-unavailable-content">
        {{ $t('wsConnectionLost') }}
      </div>
    </div>
  </div>
</template>
<script lang="ts">
  import { Component, Vue } from "vue-property-decorator";
  @Component({
  })
  export default class App extends Vue {
    get wsConnected(): boolean {
      return this.$store.getters.wsConnected;
    }
  }
</script>

<style lang="stylus">
#app
  font-size: 18px
  font-family: 'Caveat', cursive
  color: #190046

.app
  &__ws-unavailable
    background-color: rgba(0, 0, 0, .8)
    position: fixed
    left: 0
    right: 0
    top: 0
    bottom: 0
    &-content
      font-size: 22px
      background-color: white
      position: fixed
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      padding: 16px
</style>
